<%- include ("../partial/header" )-%>


<div class="login_align">


<div class="login-container">
    <div class="login-image">
        <img class="img-fluid" src="/images/about-us-page-heading.jpg" alt="Shopping Mall Image">
    </div>
    <div class="login-form mt-5">
        <h2>Enter your admin </h2>
        <p>credentials to continue.</p>
        <p class="text-danger text-center"><%= locals.notadmin ? notadmin : null %></p>
        <form class="mt-3" action="/admin/login" method="post">
            <div class="input-group">
                <input type="text" id="email" name="email" class="borderless" value="admin@gmail.com" placeholder="Email or Phone Number"  required>
                <p class="text-danger"><%= locals.notexist ? notexist : null %></p>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" class="borderless mt-2" value="Admin@123" placeholder="Password" required >
                <p class="text-danger"><%= locals.passNo ? passNo : null %></p>
            </div>
            <div class="row pt-3 mt-4">
                <div class="col-sm-6">
                    <button type="submit" value="submit" class="btn btn-dark px-4 py-2 mt-2" style="font-size: 0.9rem;">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>









<%- include ("../partial/footer" )-%>