<%- include ("../partial/header" )-%>
<style>
    .original-price {
        color: red !important;
        /* Sets the text color to red */
        font-size: 15px !important;
        text-decoration: line-through;
        /* Adds a strikethrough effect */
        margin-right: 5px;
        /* Adds space between original and offer price */
    }

    .thumb {
        position: relative;
    }

    .offer-badge {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        border-radius: 50%;           
        z-index: 1;
        
    }
</style>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" class="logo">
                        <img src="/images/SnapCart.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section">
                            <form class="form-inline my-2 my-lg-0  " style="width:350px;">
                            <input class="form-control mr-sm-2" type="search"    placeholder="Search..." aria-label="Search">
                            </form>
                        </li> 
                        <li class="scroll-to-section"><a href="/user/home" >Home</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Men's</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Women's</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Kid's</a></li>
                        <li class="scroll-to-section"><a href="/user/products">Products</a></li>
                        <li class="scroll-to-section"><a href="/cart"><i class="bi bi-cart"></i></a></li>
                        <li class="scroll-to-section"><a href="/wishlist"><i class="bi bi-heart"></i></a></li>
                        <li class="submenu">
                            <a href="javascript:;"><i class="bi bi-person-circle"></i></a>
                            <ul>
                                <li><a href="/user/profile">My Account</a></li>
                                <li><a href="/order/order_history">My Orders</a></li>
                                <li><a href="/user/wallet">My Wallet</a></li>
                                <li><a href="/user/about">About Us</a></li>
                                <li><a href="/user/contact">Contact Us</a></li>
                                <li><a href="/user/logout">Logout</a></li>
                                
                            </ul>
                        </li>
                      
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
 
 <!-- ***** Main Banner Area Start ***** -->
 <div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>View Our Range</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
 <!-- ------------ products -------------- -->

 <section>
    
    <h1 class="text-center"><%= category[0].category_id.category_name  %></h1>
    <div class="container mt-5 d-flex ">
        <div class="row">
            
            <% category.forEach((element)=>{ %>
                        <div class="col-md-3 mt-4">
                            <div class="item">
                                <div class="thumb">
                                    <% if (element.variants[0].offer) {%>
                                    <button class="offer-badge btn btn-danger" disabled><%= element.variants[0].offer.offerPercentage %>% off</button>
                                        <%}%>
                                    <a href="/user/product?proId=<%= element._id %>&varId=<%=element.variants[0]._id %>"><img style="width: 280px; height: 50vh; object-fit: cover;" src="/<%= element.variants[0].images[0] %>" alt=""></a>
                                </div>
                                <div class="down-content">
                                    <h4><%= element.product_name %></h4>
                                    
                                    <%if(element.variants[0].offer){%>
                                        <span class="original-price">INR <%= element.variants[0].price %></span>
                                        <span>INR <%= element.variants[0].discount_price %></span>
                                        <%}else{%>
                                            <span>INR <%= element.variants[0].price %></span>
                                            <%}%>
                                       
                                            
                                    
                                    <ul class="stars d-flex">
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-half"></i></li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                       <% }) %>
                            
                               
                                    
                                 
                                   
                                   
                                    
                                    
                                   



                        </div>
                        </div>
                        

 </section>
<!-- ------------pagination-------------- -->
<div class="container mt-5">
    <nav aria-label="...">
        <ul class="pagination pagination-lg justify-content-center bg-dark-subtle">
           <% for(let i =1;i<=totalPage;i++){ %>

            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="/user/category?id=<%= category[0].category_id._id%>&page=<%= i %>"><%= i %></a>
              </li>

        <% } %>
          
         
        <li class="page-item <%= currentPage === totalPage ? 'disabled' : '' %>">
            <a class="page-link" href="/user/category?id=<%= category[0].category_id._id%>&page=<%= currentPage + 1 %>">></a>
          </li>
        </ul>
      </nav>
 </div>



<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="/images/SnapCart.png" alt="hexashop ecommerce templatemo">
                    </div>
                    <ul>
                        
                        <li><a href="#">SnapCart@company.com</a></li>
                        <li><a href="#">+91 9048763044</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul>
                    <li><a href="#">Men’s Shopping</a></li>
                    <li><a href="#">Women’s Shopping</a></li>
                    <li><a href="#">Kid's Shopping</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
<%- include ("../partial/footer" )-%>