<%- include ("../partial/header" )-%>

<style>
    /* CSS styles for different order statuses */
.status-pending {
    
    color: #ffc107;
}

.status-processing {
    
    color:#17a2b8;
}

.status-shipped {
    
    color: #007bff;
}

.status-delivered {
    
    color: #28a745;;
}

.status-cancelled {
    
    color: #dc3545;
}

</style>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="/images/SnapCart.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section">
                                <form class="form-inline my-2 my-lg-0  " style="width:350px;" method="get"
                                    action="/user/search">
                                    <input class="form-control mr-sm-2" type="search" name="query"
                                        placeholder="Search..." aria-label="Search">

                                </form>
                            </li>
                            <li class="scroll-to-section"><a href="/user/home">Home</a></li>
                            <li class="scroll-to-section"><a href="/user/home">Men's</a></li>
                            <li class="scroll-to-section"><a href="/user/home">Women's</a></li>
                            <li class="scroll-to-section"><a href="/user/home">Kid's</a></li>
                            <li class="scroll-to-section"><a href="/user/Products">Products</a></li>
                            <li class="scroll-to-section"><a href="/cart"><i class="bi bi-cart"></i></a></li>
                            <li class="scroll-to-section"><a href="#"><i class="bi bi-heart"></i></a></li>
                            <li class="submenu">
                                <a href="javascript:;"><i class="bi bi-person-circle"></i></a>
                                <ul>
                                    <li><a href="/user/profile">My Account</a></li>
                                    <li><a href="/order/order_history">My Orders</a></li>
                                    <li><a href="#">My Wallet</a></li>
                                    <li><a href="/user/about">About Us</a></li>
                                    <li><a href="/user/contact">Contact Us</a></li>
                                    <li><a href="/user/logout">Logout</a></li>

                                </ul>
                            </li>

                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="table-area">
 <!-- ------------------breadcrumbs starts----------------- -->
 <div class="container">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="/user/home">Home</a></li>     
        <li class="active"><span>
         My orders
      </span></li>       
    </ol>
</div>
<!-- ------------------breadcrumbs ends----------------- -->
        <div class="container">
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th scope="col" class="text-center align-middle">OrderID</th>
                        <th scope="col" class="text-center align-middle">Product</th>
                        <th scope="col" class="text-center align-middle">Quantity</th>
                        <th scope="col" class="text-center align-middle">Amount</th>
                        <th scope="col" class="text-center align-middle">Status</th>
                        <th scope="col" class="text-center align-middle">Actions</th>
                    </tr>
                </thead>
                <tbody id="OrderHistory">
                    <% if(order && order.length> 0 ){ %>
                        <% order.forEach((order)=>{%>
                            <% order.items.forEach((item)=>{ %>
                                <% const variant = item.product.variants.find(a=>a._id.toString()=== item.variantId)%>
                                <tr>
                                <td class="text-center align-middle">
                                    <%= order.orderId %>
                                </td>
                                <td>
                                    <img  class="orderImage" src="/<%= variant.images[0] %>">
                                    <span><%= item.product.product_name %></span>
                                    
                                </td>
                                <td class="text-center align-middle">
                                    <%= item.quantity %>
                                </td>
                                <td class="text-center align-middle">
                                    <%= item.price %>
                                </td>
                                <td class="text-center align-middle
                                <% if (order.orderStatus === 'Pending') { %> status-pending <% } %>
                                <% if (order.orderStatus === 'Processing') { %> status-processing <% } %>
                                <% if (order.orderStatus === 'Shipped') { %> status-shipped <% } %>
                                <% if (order.orderStatus === 'Delivered') { %> status-delivered <% } %>
                                <% if (order.orderStatus === 'Cancelled') { %> status-cancelled <% } %>">
                                    <%= order.orderStatus %>
                                </td>
                                <td class="text-center align-middle">
                                   <%  if(order.orderStatus != 'Cancelled'){ %>
                                    <a href="/order/order_detials?orderId=<%=order._id%>" class="btn btn-outline-success">Details</a>
                                    <a onclick="cancelOrder('<%=order._id %>')" class="btn btn-outline-danger">cancel order</a>
                                   <% }else{ %>
                                    <a href="/order/order_detials?orderId=<%=order._id%>" class="btn btn-outline-success">Details</a>
                                    <% } %>
                                </td>
                            </tr>
                                


                                <% }) %>
                                    <% }) %>


                                       





                                        <% }else{ %>
                                            <tr>
                                                <td colspan="6" class="text-center text-muted"> No item found </td>
                                            </tr>


                                            <% } %>

                </tbody>
            </table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

async function cancelOrder(orderId) {
    try {
        const result = await Swal.fire({
            title: 'Are you sure?',
            text: "Do you want to cancel this order?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, cancel it!',
            cancelButtonText: 'Close!'
        });

        if (result.isConfirmed) {
            
            const response = await fetch('/order/cancel_order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ orderId })
            });

            if (response.ok) {
                
                Swal.fire('Cancelled!', 'Your order has been cancelled.', 'success');
                setTimeout(()=>{
                    window.location.reload();
                },1300)
            } else {
               
                Swal.fire('Error!', 'There was a problem cancelling your order.', 'error');
            }
        }
    } catch (error) {
        console.error('Error:', error);
        Swal.fire('Error!', 'There was a problem processing your request.', 'error');
    }
}



</script>
            <%- include ("../partial/footer" )-%>