<%- include ('../partial/header') -%>

 <!-- ***** Header Area Start ***** -->
 <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" class="logo">
                        <img src="/images/SnapCart.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                       
                        
                        <li class="scroll-to-section"><a href="/user/home">Home</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Men's</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Women's</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Kid's</a></li>
                        <li class="scroll-to-section"><a href="/user/Products">Products</a></li>
                        <li class="scroll-to-section"><a href="/cart"><i class="bi bi-cart"></i></a></li>
                        <li class="scroll-to-section"><a href="/wishlist"><i class="bi bi-heart"></i></a></li>
                        <li class="submenu">
                            <a href="javascript:;"><i class="bi bi-person-circle"></i></a>
                            <ul>
                                <li><a href="/user/profile">My Account</a></li>
                                <li><a href="/order/order_history">My Orders</a></li>
                                <li><a href="/user/wallet">My Wallet</a></li>
                                <li><a href="/user/about">About Us</a></li>
                                <li><a href="/user/contact">Contact Us</a></li>
                                <li><a href="/user/logout">Logout</a></li>

                            </ul>
                        </li>

                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>

                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
<div class="order-details">
    <!-- ------------------breadcrumbs starts----------------- -->
    <div class="container">
    <ol class="breadcrumb breadcrumb-arrow">
       <li><a href="/user/home">Home</a></li>     
       <li><a href="/order/order_history">My orders</a></li>     
       <li class="active"><span>
        order detials
     </span></li>       
    </ol>
    </div>
    <!-- ------------------breadcrumbs ends----------------- -->
    <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="order-summary">
                <h3>Order Details</h3>
                <h6 class="mt-3"><strong>OrderId:</strong> <%=order.orderId %></h6>
                <h6 class="mt-3"><strong>Order At:</strong> <%= new Date(order.placeAt).toLocaleDateString() %></h6>
                <h6 class="mt-3"><strong>Estimate Delivery:</strong><%= new Date(new Date(order.placeAt).setDate(new Date(order.placeAt).getDate() + 7)).toLocaleDateString() %></h6>
            </h6>

                <div class="row">
                   
                        <div class="col-md-12">
                            <table class="table table-bordered mt-4">
                                
                                <tbody>
                                    <% order.items.forEach((item,index)=>{%>
                                     <% const variant = item.product.variants.find(v=>v._id.toString()===item.variantId.toString()) %>
                                  <tr>
                                    <th scope="row" class="text-center align-middle"><%= index+1 %></th>
                                    <td>
                                        <img src="/<%=variant.images[0] %>"  style="width: 30vh; height: 30vh; object-fit: cover;" alt="">
                                    </td>
                                    <td>
                                        <h5 class="mt-3"><strong><%= item.product.product_name %></strong></h5>
                                        <h6 class="mt-2"><%= variant.color %> - <%= variant.size %></h6>
                                        <h6 class="mt-2"> ₹ <%= variant.price %></h6>
                                        <h6 class="mt-2"> <strong>Quantity:</strong> <%= item.quantity %></h6>
                                        
                                    </td>
                                    
                                  </tr>
                                  <% }) %>
                                 
                                </tbody>
                              </table>

                        </div>
                       
                    
                    
                </div>
            </div>
    
        </div>
        <div class="col-md-4">
            <div class="address">
                <h3>Delivery Address</h3>
               
                    <div class="address-info mt-3">
                        <p><strong><%= order.address[0].fullName %></strong></p>
                        <p><%= order.address[0].streetAddress %>, <%= order.address[0].city %></p>
                        <p>Phone number: <%= order.address[0].phone %></p>
                    </div>
                    <h4 class="mt-5">payment method</h4>
                    <button class="btn btn-outline-success mt-3" disabled><%=order.paymentMethod %></button>
                    <h3 class="mt-5">Order Status</h3>
                     <button style="margin-bottom: 20vh;" class=" mt-3 btn <% if (order.orderStatus === 'Pending') { %> btn-warning <% } %>
                        <% if (order.orderStatus === 'Processing') { %> btn-primary <% } %>
                        <% if (order.orderStatus === 'Shipped') { %> btn-info <% } %>
                        <% if (order.orderStatus === 'Delivered ') { %> btn-success <% } %>
                        <% if (order.orderStatus === 'Cancelled') { %> btn-danger <% } %>" disabled>
                        <%= order.orderStatus %>
                    </button>
                    
                   
            </div>
        </div>
    </div>
       
    
    </div>
</div>




<%- include ('../partial/footer') -%>