<%- include ("../partial/header" )-%>
<style>
    .original-price {
        color: red !important;
        /* Sets the text color to red */
        font-size: 15px !important;
        text-decoration: line-through;
        /* Adds a strikethrough effect */
        margin-right: 5px;
        /* Adds space between original and offer price */
    }

    .thumb {
        position: relative;
    }

    .offer-badge {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        border-radius: 50%;           
        z-index: 1;
        
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" class="logo">
                        <img src="/images/SnapCart.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section">
                            <form class="form-inline my-2 my-lg-0  " style="width:350px;" method="get" action="/user/searchAndSort" >
                            <input class="form-control mr-sm-2" type="search"  name="query"  placeholder="Search..." aria-label="Search">
                            
                        </form>
                        </li> 
                        <li class="scroll-to-section"><a href="/user/home" >Home</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Men's</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Women's</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Kid's</a></li>
                        <li class="scroll-to-section"><a class="active">Products</a></li>
                        <li class="scroll-to-section"><a href="/cart"><i class="bi bi-cart"></i></a></li>
                        <li class="scroll-to-section"><a href="/wishlist"><i class="bi bi-heart"></i></a></li>
                        <li class="submenu">
                            <a href="javascript:;"><i class="bi bi-person-circle"></i></a>
                            <ul>
                                <li><a href="/user/profile">My Account</a></li>
                                <li><a href="/order/order_history">My Orders</a></li>
                                <li><a href="/user/wallet">My Wallet</a></li>
                                <li><a href="/user/about">About Us</a></li>
                                <li><a href="/user/contact">Contact Us</a></li>
                                <li><a href="/user/logout">Logout</a></li>
                                
                            </ul>
                        </li>
                      
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
 
 <!-- ***** Main Banner Area Start ***** -->
 <div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="inner-content">
                    <a href="/user/products"><h2>View Our Range</h2></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
 <!-- ------------ products -------------- -->

<section>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="text-center">Our Products</h1>
            <!-- Sorting Options Section -->
            <section>
                <div class="mt-2">
                    <form action="/user/searchAndSort" method="GET" class="form-inline">
                        <input type="hidden" name="query" value="<%=searchQuery%>" />
                        <select class="form-select sort-input" name="sort" aria-label="Sort">
                            <option value="">Sort By</option>
                            <option value="price_asc">Price: Low to High</option>
                            <option value="price_desc">Price: High to Low</option>
                            <option value="new_arrivals">New Arrivals</option>
                            <option value="a_to_z">A - Z</option>
                            <option value="z_to_a">Z - A</option>
                        </select>
                        <button class="btn btn-outline-success ms-2" style="border-radius: 12px;" type="submit">Sort</button>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <% if (product.length === 0) { %>
                <!-- Show message when no products are found -->
                <script>
                    Swal.fire({
                        icon: 'warning',
                        title: 'Oops...',
                        text: 'Product not found',
                        confirmButtonText: 'OK'
                    });
                </script>
                <div class="col-md-12 text-center">
                    <div class="alert alert-warning">
                        Product not found
                    </div>
                </div>
            <% } else { %>
                <% product.forEach((element) => { %>
                    <div class="col-6 col-md-4 col-lg-3 mt-4">
                        <div class="item">
                            <div class="thumb">
                                <% if (element.variants[0].offer) { %>
                                    <button class="offer-badge btn btn-danger" disabled><%= element.variants[0].offer.offerPercentage %>% off</button>
                                        
                                    
                                    <% } %>
                                <a href="/user/product?proId=<%=element._id %>&varId=<%= element.variants[0]._id %>">
                                    <img style="width: 100%; height: 50vh; object-fit: cover;" src="/<%= element.variants[0].images[0] %>" alt="">
                                </a>
                            </div>
                            <div class="down-content text-center">
                                <h4><%= element.product_name %></h4>
                                <%if(element.variants[0].offer){%>
                                    <span class="original-price">INR <%= element.variants[0].price %></span>
                                    <span>INR <%= element.variants[0].discount_price %></span>
                                    <%}else{%>
                                        <span>INR <%= element.variants[0].price %></span>
                                        <%}%>
                                <ul class="stars d-flex justify-content-center">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-half"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
</section>

<!-- ------------ pagination -------------- -->




 <div class="container mt-2"
 style="background-color: transparent !important; display: flex; justify-content: center;">
 <nav aria-label="...">
   <ul class="pagination pagination-lg justify-content-center bg-dark-subtle">

     <% if (currentPage !==1 && currentPage==totalPage) { %>
       <li class="page-item">
         <a class="page-link" href="/user/products?page=<%= currentPage -1 %>">
           <</a>
       </li>
       <% } %>


         <% for(let i=1;i<=totalPage;i++){ %>

           <li class="page-item <%= currentPage === i ? 'active' : '' %>">
             <a class="page-link" href="/user/products?page=<%= i %>">
               <%= i %>
             </a>
           </li>

           <% } %>

             <% if (currentPage !==totalPage) { %>
               <li class="page-item">
                 <a class="page-link" href="/admin/products?page=<%= currentPage + 1 %>">></a>
               </li>
               <% } %>

   </ul>
 </nav>
</div>



<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="/images/SnapCart.png" alt="hexashop ecommerce templatemo">
                    </div>
                    <ul>
                        
                        <li><a href="#">SnapCart@company.com</a></li>
                        <li><a href="#">+91 9048763044</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul>
                    <li><a href="#">Men’s Shopping</a></li>
                    <li><a href="#">Women’s Shopping</a></li>
                    <li><a href="#">Kid's Shopping</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
<%- include ("../partial/footer" )-%>