<%- include ("../partial/header" )-%>
    <style>
        .original-price {
            color: red !important;
            /* Sets the text color to red */
            font-size: 15px !important;
            text-decoration: line-through;
            /* Adds a strikethrough effect */
            margin-right: 5px;
            /* Adds space between original and offer price */
        }

        .thumb {
            position: relative;
        }

        .offer-badge {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: white;
            border-radius: 50%;
            z-index: 1;

        }
    </style>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/user/home" class="logo">
                            <img src="/images/SnapCart.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">

                            <li class="scroll-to-section"><a href="/user/home">Home</a></li>
                            <li class="scroll-to-section"><a href="/user/home">Men's</a></li>
                            <li class="scroll-to-section"><a href="/user/home">Women's</a></li>
                            <li class="scroll-to-section"><a href="/user/home">Kid's</a></li>
                            <li class="scroll-to-section"><a href="/user/products">Products</a></li>
                            <li class="scroll-to-section">
                                <a href="/cart" class="d-flex align-items-center">
                                    <i class="bi bi-cart"></i>
                                    <!-- Badge for Cart Count next to the cart icon -->
                                    <span class="badge badge-pill badge-secondary"
                                        style=" width: 25px; height: 25px; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                                        <%=cartCount%>
                                    </span>
                                </a>
                            </li>
                            <li class="scroll-to-section"><a href="#"><i class="bi bi-heart-fill"></i></a></li>
                            <li class="submenu">
                                <a href="javascript:;"><i class="bi bi-person-circle"></i></a>
                                <ul>
                                    <li><a href="/user/profile">My Account</a></li>
                                    <li><a href="/order/order_history">My Orders</a></li>
                                    <li><a href="/wallet">My Wallet</a></li>
                                    <li><a href="/user/about">About Us</a></li>
                                    <li><a href="/user/contact">Contact Us</a></li>
                                    <li><a href="/user/logout">Logout</a></li>

                                </ul>
                            </li>

                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Your Wishlist</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Wishlist (<%= products.length %>)</h2>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <% if (products.length===0) { %>
                    <div class="col-12 mt-5 d-flex justify-content-center" style="height: 50vh;">
                        <div class="text-center">
                            <div class="alert alert-warning">
                                Product not found
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                        <% products.forEach((element)=> { %>
                            <% const product=element.product; %>
                                <% const variant=product.variants.find(x=> x._id.toString() === element.variantId); %>
                                    <div class="col-6 col-md-4 col-lg-3 mt-4 d-flex align-items-stretch">
                                        <div class="card h-100">
                                            <div class="position-relative">
                                                <% if (variant.offer) { %>
                                                    <button class="offer-badge btn btn-danger" disabled>
                                                        <%= variant.offer.offerPercentage %>% off
                                                    </button>


                                                    <% } %>
                                                        <a
                                                            href="/user/product?proId=<%= product._id %>&varId=<%= variant._id %>">
                                                            <img class="card-img-top img-fluid img-thumbnail"
                                                                src="/<%= variant.images[0] %>" alt="Card image cap"
                                                                style="object-fit: cover; height: 40vh; width: 45vh;">
                                                        </a>
                                                        <button class="btn btn-outline-dark position-absolute"
                                                            type="button"
                                                            onclick="DelFromWishlist('<%= element._id %>')"
                                                            style="top: 5px; right: 5px; border-radius: 50%;">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                            </div>
                                            <div class="card-body d-flex flex-column">
                                                <h5 class="card-title text-center"
                                                    style="min-height: 48px; line-height: 1.2em;">
                                                    <strong>
                                                        <%= product.product_name %>
                                                    </strong>
                                                </h5>
                                                <p class="card-text mt-2 text-center">★★★★★</p>
                                                <div class="d-block text-center">
                                                    <%if(variant.offer){%>
                                                        <span class="original-price">INR <%=variant.price %></span>
                                                        <span>INR <%= variant.discount_price %></span>
                                                        <%}else{%>
                                                            <span>INR <%=variant.price %></span>
                                                            <%}%>
                                                </div>

                                                <div class="mt-auto d-flex justify-content-center">
                                                    <% if (variant.stock <= 0 ) {%>
                                                        <button type="button"
                                                           
                                                            class="btn btn-danger" disabled>
                                                            Out of Stock  
                                                        </button>
                                                        <% }else{ %>
                                                            <button type="button"
                                                                onclick="addToCart('<%= product._id %>', '<%= variant._id %>')"
                                                                class="btn btn-outline-dark">
                                                                <i class="bi bi-cart"></i> Add To Cart
                                                            </button>

                                                            <% } %>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% } %>
            </div>
        </div>
    </section>


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/images/SnapCart.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>

                            <li><a href="#">SnapCart@company.com</a></li>
                            <li><a href="#">+91 9048763044</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Men’s Shopping</a></li>
                        <li><a href="#">Women’s Shopping</a></li>
                        <li><a href="#">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        async function addToCart(product_id, variant_id) {


            const quantity = 1
            try {
                const response = await fetch(`/cart/addToCart`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ product_id, variant_id, quantity })
                });

                const result = await response.json();

                if (result.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Added to cart',
                        showConfirmButton: false,
                        text: result.message,
                        timer: 1500
                    }).then(() => {
                        location.reload();
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: result.message,
                        showConfirmButton: true
                    }).then(() => {
                        location.reload();
                    });
                }
            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred while processing your request.',
                    showConfirmButton: true
                });
            }
        }

        async function DelFromWishlist(productId) {
            const result = await Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to delete this product from wishlist?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes',
                cancelButtonText: 'Close!'
            });
            if (result.isConfirmed) {
                try {
                    const response = await fetch(`/wishlist/DeleteWishlist`, {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ productId })
                    })
                    const result = await response.json()

                    if (result.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Deleted from wishlist',
                            showConfirmButton: true,
                            text: result.message,
                        }).then(() => {
                            location.reload();
                        });
                    } else {
                        if (result.error == "product already Deleted") {
                            Swal.fire({
                                icon: 'info',
                                title: 'Already Deleted',
                                text: result.error,
                                showConfirmButton: true
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: result.error,
                                showConfirmButton: true
                            })
                        }

                    }

                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while processing your request.',
                        showConfirmButton: true
                    });
                }
            }

        }

    </script>
    <%- include ("../partial/footer" )-%>